@{
    string articleContent = "";
    if (ViewBag.ArticleContent != null)
    {
        articleContent = ViewBag.ArticleContent.ToString();
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <!-- SEARCH FIELD AREA -->
    <div class="searchfield bg-hed-six">
        <div class="container" style="padding-top: 20px; padding-bottom: 20px;">
            <div class="row text-center margin-bottom-20">
                <h2 class="white"> Support Artcles </h2>
            </div>
            <hr />
        </div>
    </div>
    <!-- END SEARCH FIELD AREA -->
    <!-- MAIN SECTION -->
    <div class="container featured-area-default padding-30">
        <div class="row">
            <div class="col-md-8 padding-20">
                <div class="row">
                    @if (articleContent != "")
                    {
                        @Html.Partial(articleContent)
                    }
                </div>
            </div>
            <!-- SIDEBAR -->
            <div class="col-md-4 padding-20">
                <div class="row margin-top-20">
                    <div class="col-md-12">
                        <h2>Similar Articles</h2>
                        <hr class="style-three">
                        <div class="padding-left-10">
                            <ul>
                                <li> @Html.ActionLink("Applying for a Mortgage", "Article", "Support", new { article = "_MortgageApply" }, null) </li>
                                <li> @Html.ActionLink("Viewing your Mortgages", "Article", "Support", new { article = "_MortgageView" }, null) </li>
                                <li> @Html.ActionLink("Reporting an Incident", "Article", "Support", new { article = "_IncidentReport" }, null) </li>
                                <li> @Html.ActionLink("Viewing Reported Incidents", "Article", "Support", new { article = "_IncidentView" }, null) </li>
                                <li> @Html.ActionLink("Make a Payment", "Article", "Support", new { article = "_MakePayment" }, null) </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-30">
                    <div class="col-md-12 ">
                        <div class="support-container">
                            <h2 class="support-heading">Need more Support?</h2>
                            If you cannot find an answer in the knowledgebase, you can
                            @Html.ActionLink("contact us", "Index", "Home", new {  }, null) for further help.
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <!-- END SIDEBAR STUFF -->
        </div>
    </div>
    <!-- END MAIN SECTION -->
</body>
</html>