@model DataAccessLayer.Models.MortgageModel

@{
    ViewBag.Title = "Apply for a New Mortgage";
}

<br />
<h2 class="col-md-offset-2">Apply for a New Mortgage</h2>

<h5 class="col-md-offset-2 text-danger">*All fields are required.</h5>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Region, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(
                    model => model.Region,
                    "Select Region",
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Region, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="statesDiv" style="display: none;">
            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.State, 
                                   new SelectList(ViewBag.States, "Value", "Text"),
                                   "Select State",
                                   new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MortgageAmount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MortgageAmount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MortgageAmount, "", new { @class = "text-danger" })
            </div>
        </div>
                
        <div class="form-group">
            @Html.LabelFor(model => model.MortgageTermInYears, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(
                    model => model.MortgageTermInYears,
                    "Select Term",
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MortgageTermInYears, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Apply" class="btn btn-default" id="submitButton"/>
            </div>
        </div>
    </div>
}

<div>
    @*@Html.ActionLink("Cancel", "Index", "Mortgage", new { }, null)*@
</div>

@section Scripts {
    @Styles.Render("~/Content/CustomCSS-NewMortgage.css")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/CustomJS-NewMortgage.js")
}
